@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+20&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-source-code-pro: "Source Code Pro", monospace;
  --font-dm-serif-text: "DM Serif Text", serif;
  --font-jersey-20: "Jersey 20", serif;
}

body {
  background-color: #f5f5f5;
}